@use '~src/scss/vars' as *;
@use '~src/scss/mixin' as *;

.cmp-input {
  height: $input-normal;
  padding: $input-padding;
  border: $default-border;
  background-color: $color-white;
  transition: $default-transition;
  border-radius: $input-boder-radius;
  font-size: $body-size;
  &--icon {
    padding-right: 36px;
  }
  &:focus {
    // box-shadow: $focus-shadow;
    border: $default-border-primary;
  }

  &--error {
    border-color: $color-danger;
    &:focus {
      border-color: $color-danger;
      // box-shadow: $error-shadow;
    }
  }

  &:disabled {
    color: $color-black-500;
    background-color: #f5f5f5;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    @include hover;
  }
}
