@use '~src/scss/vars' as *;
@use '~src/scss/mixin' as *;

.cmp-view-item {
  &__label {
    font-weight: 500;
    color: $color-black-200;
  }
  &__value {
  }

  &__empty {
    @include mobileScreen {
      display: none;
    }
  }
}
